@font-face {
	font-family: IBMPlexMono;
	src: url(./IBMPlexMono-Regular.ttf);
}

@font-face {
	font-family: IBMPlexSans;
	src: url(./IBMPlexSans-Regular.ttf);
}

* {
	box-sizing: border-box;
}

body {
	font-family: "IBMPlexMono", "Helvetica Neue", sans-serif;
	background-color: #1C2527;
	color: #EBBD3F;
}

#timerContainer {
	width: 600px;
	height: 600px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid #444444;
	border-radius: 5px;
}

nav {
	width: 90%;
	padding: 10px 10px 0 10px;
	overflow: auto;
	border-bottom: 1px solid #444444;
	margin: 0 auto;
	color: #444444;
	font-size: 0.75rem;
}

nav .miniTimer {
	float: left;
	padding: 3px;
	overflow: auto;
	color: #444444;
}

nav .testButton:hover {
	color: #EBBD3F;
}

nav #miniTimerDisplay {
	color: #EBBD3F;
}

.miniTimer div {
	float: left;
	padding: 3px;
}

div.testButton:hover {
	cursor: pointer;
}

.settingsButton {
	float: right;
	padding: 3px;
}

.settingsButton:hover {
	color: #EBBD3F;
	cursor: pointer;
}

.formContainer {
	z-index: 1;
	display: none;
	position: absolute;
	top: 45px;
	right: 5%;
	min-height: 75px;
	width: 260px;
	overflow: auto;
	background-color: #1C2527;
	border: 1px solid #444444;
	padding: 5px;
}

.formContainer:hover {
	color: #EBBD3F;
	border-color: #EBBD3F;
}

.formContainer:hover select {
	color: #EBBD3F;
}

.formGroup {
	display: inline-block;
	border: 1px solid #444444;
	padding: 2px;
	width: 100%;
	margin-bottom: 5px;
}

#customTimeDisplay {
	display: inline-block;
	width: 50px;
	margin: 0 5px;
}

.close {
	width: 100%;
	text-align: right;
}

.close span:hover {
	color: #E81123;
	cursor: pointer;
}

nav button {
	display: inline-block;
	margin: 0;
	background-color: inherit;
	color: inherit;
	font-size: inherit;
	border-color: #444444;
	border-radius: 4px;
	width: auto;
	height: 23px;
	padding: 2px 10px;
}

nav button:hover {
	color: #EBBD3F;
	border-color: #EBBD3F;
}

nav form {
	float: right;
}

nav form label {
	padding: 7px;
}

nav form:hover {
	color: #EBBD3F;
}

.slider {
	-webkit-appearance: none;
	appearance: none;
	height: 3px;
	background: #444444;
	outline: none;
	border-radius: 3px;
	width: 125px;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 18px;
	height: 18px;
	border: 0;
	background: url('./images/slider.svg');
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 18px;
	height: 18px;
	border: 0;
	background: url('./images/slider.svg');
	cursor: pointer;
}

select {
	background-color: #1C2527;
	color: #444444;
	border: 1px solid #444444;
	border-radius: 4px;
	padding: 2px 3px;
}

select:hover {
	color: #EBBD3F;
	border-color: #EBBD3F;
}

select:focus {
	outline: none;
}

h1 {
	text-align: center;
	font-size: 2rem;
	margin: 10px 0;
}

section {
	position: relative;
	width: 100%;
	overflow: auto;
	margin: 0 auto;
	text-align: center;
}

section div {
	float: left;
	width: 100%;
	text-align: center;
	background-color: #1C2527;
}

#timeSelection {
	display: block;
	position: relative;
}

#timeboxing {
	display: none;
	position: relative;
}

#timesUp {
	display: none;
	position: relative;
}

#timer {
	width: 400px;
}

#timeButtonContainer {
	width: 80%;
	margin: 0 auto;
	float: none;
}

.timeSelectButton {
	color: #EBBD3F;
	width: 33%;
	padding: 10px;
	border: 1px solid #444444;
}

.timeSelectButton:hover {
	border: 1px solid #EBBD3F;
	cursor: pointer;
}

#cancelButtonContainer {
	display: none;
	width: 80%;
	margin: 0 auto;
	float: none;
}

.timerDiv {
	background-color: #E81123;
	width:100%;
	text-align: center;
	padding: 20px;
}

button {
	color: #EBBD3F;
	background-color: #1C2527;
	border: 1px solid #444444;
	width: 90px;
	padding: 10px;
	font-size: 1rem;
}

button:hover {
	border-color: #EBBD3F;
	cursor: pointer;
}

button:focus {
	outline: none;
}

.endTimeMessage {
	width: 100%;
	height: 507px;
	background: #E81123 url('images/pygmy-hippos.jpg') no-repeat;
	background-size: cover;
	font-size: 1rem;
	padding-top: 25px;
	padding-bottom: 25px;
	border: 1px solid #444444;
}

.endTimeMessage div {
	padding: 3px;
	border-top: 1px solid #444444;
	border-bottom: 1px solid #444444;
}

.endTimeMessage button {
	position: absolute;
	bottom: 5%;
	left: 50%;
	transform: translate(-50%);
}
