* {
	box-sizing: border-box;
}

html {
	background-color: whitesmoke;
	font-family: "Helvetica Neue", "sans-serif";
}

h1 {
	text-align: center;
}

section {
	width: 80%;
	overflow: auto;
	margin: 0 auto;
}